@use "../globals" as *;

.back-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 2.75rem;
  padding: 1rem;

  @media (min-width: 768px) {
    padding: 1rem;
  }

  @media (min-width: 960px) {
    padding: 1.5rem 2.5rem;
  }

  @media (min-width: 1280px) {
    padding: 1.5rem 6.25rem;
  }

  &__button {
    display: flex;
    align-items: center;
    top: 4rem;
    left: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: $text-secondary;
    transition: opacity 0.3s;
    z-index: 10;

    &:hover {
      opacity: 0.7;
    }
  }
}

.product-detail {
  padding-left: 1rem;
  padding-right: 1rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  @media (min-width: 768px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (min-width: 1024px) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  &__container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    @media (min-width: 768px) {
      max-width: 754px;
      flex-direction: row;
      gap: 4rem;
    }
    @media (min-width: 1260px) {
      max-width: 1200px;
      gap: 4rem;
    }
  }

  &__images {
    width: 100%;
    @media (min-width: 768px) {
      width: auto;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 260px;
    height: 273px;

    @media (min-width: 768px) {
      width: 334px;
      height: 416px;
    }

    @media (min-width: 1260px) {
      width: 510px;
      height: 630px;
    }
  }

  &__image {
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @media (min-width: 768px) {
      width: auto;
      flex-grow: 1;
    }
  }

  &__name {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__price {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: $text-secondary;
  }

  &__storage,
  &__colors {
    margin-bottom: 2rem;
  }

  &__section-title {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: $text-color;
  }

  &__storage-options {
    display: flex;
    flex-wrap: wrap;
  }
  &__colors-options {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .storage-option {
    padding: 1.5rem;
    border: 1px solid $border-color;
    background: none;
    cursor: pointer;
    font-size: 0.875rem;
    transition: all 0.3s;

    &:hover:not(.storage-option--active) {
      border-color: $border-dark;
    }

    &.active {
      background-color: $background-dark-color;
      color: #fff;
      border-color: $border-dark;
    }
  }

  .color-option {
    width: 2rem;
    height: 2rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: transform 0.3s;

    &.selected {
      transform: scale(1.1);
      border-color: $border-dark;
    }
  }

  &__colors-name {
    padding-top: 1rem;
  }

  &__button-container {
    margin-top: auto;
  }

  &__button {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    background-color: $background-dark-color;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s;

    &:hover:not(:disabled) {
      opacity: 0.9;
    }

    &--added {
      background-color: $text-secondary;
    }

    &--disabled {
      color: #c2bfbc;
      background-color: $disable-color;
      cursor: not-allowed;
    }

    @media (min-width: 1024px) {
      max-width: 400px;
    }
  }
}

.storage-option {
  padding: 1.5rem;
  border: 1px solid $border-color;
  background: none;
  cursor: pointer;
  font-size: 0.875rem;
  transition: all 0.3s;

  &:hover:not(.storage-option--active) {
    border-color: $border-dark;
  }

  &--active {
    background-color: $background-dark-color;
    color: #fff;
    border-color: $border-dark;
  }
}

.color-option {
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s;

  &--active {
    transform: scale(1.1);
    border-color: $border-dark;
  }
}

.specifications {
  width: 100%;
  max-width: 100%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    max-width: 754px;
  }
  @media (min-width: 1024px) {
    max-width: 1200px;
  }

  &__title {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: $border-dark;
  }
  &__table {
    border: 0px 0.5px solid $border-dark;
  }

  &__row {
    display: grid;
    grid-template-columns: 300px 1fr;
    border-bottom: 0.5px solid $border-dark;

    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 768px) {
      grid-template-columns: 150px 1fr;
    }
  }

  &__value {
    padding: 1rem;
    font-weight: 300;
    font-size: 0.75rem;
  }

  &__label {
    padding: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
