@use '../globals' as *;

.products-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    gap:0px;
    border: 0.25px solid $border-dark; 
    
    
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1560px) {
      grid-template-columns: repeat(5, 1fr);
    }
    
  }