.similar-products {
    position: relative;
    padding: 2rem 0rem 2rem 1rem;

    @media (min-width: 768px) {
      padding: 2rem 0rem 2rem 1rem;
    }
  
    @media (min-width: 1024px) {
      padding: 2rem 0rem 2rem 7.25rem;
    }
  
    @media (min-width: 1920px) {
      padding: 2rem 0rem 2rem 20rem;
    }

    
    &__title {
      font-size: 0.875rem;
      color: #000000;
      padding: 1rem;
    }
    
  }

  
  